/***********
 * Theme for Typora
 * David Duan, 2019
 * V2.0
 ***********/

/************* Root *************/

/* The following URL contains Computer Modern fonts. */
@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

:root {
  --side-bar-bg-color: white;
  --window-border: black;
  --search-select-bg-color: #575c61;
  --active-file-bg-color: #f1f4f5;
  --item-hover-bg-color: #f1f4f5;
  --item-hover-text-color: black;
  --control-text-color: #555;

  --ff-serif: "Computer Modern Serif", "Times New Roman", "serif";
}

html {
  font-size: 10pt;
  font-family: var(--ff-serif);
}

#write {
  font-size: 12pt;
  line-height: 140%;
}

*.in-text-selection,
::selection,
.CodeMirror-selected {
    background: var(--search-select-bg-color);
    text-shadow: none;
}

.file-list-item-summary {
  height: 36px;
}

.file-list-item {
  padding-top: 18px !important;
  padding-bottom: 18px;
}

#sidebar-loading-template.file-list-item {
  padding-top: 0 !important;
}

/************* Editor *************/
@media screen and (min-width: 800px) {
    #write {
        padding: 15mm 17mm;
        margin: 2% auto;
        max-width: 215.9mm;
        border: 1px #D3D3D3 dotted;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

/************* Export *************/
@page {
  size: letter;
  margin: 15mm 0 auto;
  padding: 15mm 0 auto;
}

@media print {

  hr {
    visibility: hidden;
    page-break-after: always;
    margin: 0;
    padding: 0;
  }

  hr + h4,
  hr + h5,
  hr + h6 {
    margin-top: 0 !important;
  }

  .md-toc-inner {
    margin-left: 0;
  }

  .md-toc {
    margin-top: 5%;
    margin-left: 0;
  }

  .md-toc::before {
    content: "Contents";
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .md-toc-inner {
    font-size: 12pt;
    margin: 0.4em;
    color: blue;
  }

  .md-toc-h1,
  .md-toc-h2,
  .md-toc-h3 {
    display: none;
  }

  .md-toc-h4 {
    font-weight: bold;
    margin-left: 0;
  }

  .md-toc-h5 {
    margin-left: 2rem;
  }

  .md-toc-h6 {
    margin-left: 4rem;
  }

  p {
    orphans: 3;
    widows: 3;
  }

}

/************* Header *************/
#write h1 {
  font-size: 1.6em;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

#write h2 {
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin: 0.5em auto 0.1em auto;
}

#write h3 {
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: dimgray;
    margin: 0 auto;
}

#write h4{
    font-size: 1.4em;
    margin-top: 2em;
}

#write h5 {
    font-size: 1.2em;
    margin-top: 1.5em;
}

#write h6 {
    font-size: 1em;
    margin-top: 1.2em;
}

#write h4 + h5,
#write h5 + h6 {
    margin-top: 1em !important;
}

#write h4 + p,
#write h4 + ul,
#write h4 + ol {
    margin-top: 1.5em !important;
}

/************* Elements *************/
a, a:visited {
    color: #a00;
}

p {
    margin: 1rem auto;
    text-align: left;
}

hr {
    border-top: 3px double #8c8b8b;
    margin: 2em auto;
}

mark {
    background-color: #fff2a8;
}

.footnotes {
    font-size: 10pt;
    font-style: italic;
    margin-left: 1em;
}

.footnotes-area {
    font-style: italic;
    margin: 0.2rem;
}

.footnote-line {
    font-size: 10pt;
}

.reversefootnote {
    margin-left: 5px;
}

sup.md-footnote {
    background-color: initial;
    color: inherit;
}

td, th {
    border: 1px solid;
    padding-left: 1ch;
    padding-right: 1ch;
}

th {
    border-bottom: 0;
    padding-top: 2px;
    background: #575c61;
    border-color: #333;
    color: #f3f3f3;
}

.task-list-item {
    padding-left: 0.5em;
}

.md-header {
    font-size: inherit !important;
}

li .mathjax-block {
    margin: 1em auto;
}

li > p {
    margin: 0 auto;
}

li {
    margin: 0.5rem auto;
}

ol li li {
    list-style-type: lower-alpha;
}

ol li li li {
    list-style-type: lower-roman;
}

blockquote {
    border-left: 5px solid #dddddd;
    font-style: italic;
    color: dimgray;
    margin: 0 -25px;
    padding: 0 20px;
}

/* Use this blockquote if you prefer "abstract" */
/* #write blockquote {
    padding: 0.25em 10px;
    margin: 4px auto;
    width: calc(100% - 8px);
    text-align: center;
    font-style: normal;
    font-size: 0.9em;
    position: relative;
    color: black;
}

#write blockquote li{
    text-align: left;
}

#write blockquote::before {
    font-weight: bold;
    content: "Abstract";
} */

.md-toc-inner {
    margin-left: 0 !important;
    font-size: 10pt !important;
}

.md-toc-h1,
.md-toc-h2,
.md-toc-h3 {
    display: none;
}

.md-toc-4 {
    margin-left: 0;
}

.md-toc-h4 a.md-toc-inner {
    font-weight: bold !important;
}

.md-toc-h5 {
    margin-left: 2rem;
}

.md-toc-h6 {
    margin-left: 4rem;
}

/************* Programming *************/
#write pre,
#write code {
    font-family: "Computer Modern Typewriter", monospace;
    font-size: 0.95em;
}

#write .md-fences {
    background: white;
    border: 1px solid black;
    padding: 0.5em;
}

#write .CodeMirror-linenumber {
    font-size: 0.9em;
    min-width: 25px;
}

/***********
 * Theme for Typora
 * David Duan, 2019
 * V2.0
 ***********/
